@charset "UTF-8";

/*Estilo para impressão*/
@charset "UTF-8";

/*Estilo principal*/

*{
    margin:10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace; /* para impressão é melhor usar a "Courier New" ou outra qualquer monoespassada*/
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none; /*elimina os menús*/
}
article::after{
    content: 'Esse aritigo foi impresso através do site www.cursoemvideo.com';
}