
body{
    font-family: Arial, Helvetica, sans-serif;/* fontes generias: san-serif(sem serifa), serif(serifada), e monospace(monoespaçada) são tipos de fonte que todos despositivos tem logo independente do dispositivo que vai ser rodado ele vai escolher uma fonte com as caracteristicas desse grupo*/
    /* Medidas Absolutas: mm, cm, in, ox, pt, pc são medidas absolutas onde não importa o meio em que esteja ela vai ser a mesma

    Medidas Relativas: em(altura relativa a altura da letra m), ex(altura relativa a altura da letra "x minuscula" que é usada para determinar o resto das letras de uma fonte),rem( altura relativa ao root, fonte presente no body),vw(largura da tela en que esta vendo),vh(altura da tela en que esta vendo), %(porcentagem)

    a recomendação é usar somente "px" e "em"
    */
    font-size: 1em; /* 16 pixels é o tamalho natural da fonte  = "1 em" é a melhor par usar para diferentes dispositivos*/
    font-weight: 300;
    font-style: italic;

    /*peso da fonte: font-weight:'Work Sans' ; o peso da fonte é a variação entre a finura da fonte, usando palavras para ditar a ênfase.tem o lighter normal bold bolder. também pode ser usado o sistema numérico de 100 -900, alem disso tem a variação de font-style para italico, alem disso existe text-decoration para adicionar decorações no seu texto como sublinhado*/
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
    font-size: 3em;
    font-style: italic;

    /* para simplificar o código você pode usar  atalho shorthand font font-style-> font-weight->font-size-font-family  veja abaixo*/
}
h2{
    font: italic bolder 3em sans-serif;
}